<section class="section">
    <form name="main.pessoaForm" class="columns is-multiline">
        <div class="field column is-three-quarters">
            <label class="label">Name</label>
            <p class="control">
                <input 
                class="input ng-class:{ 'is-danger': main.pessoaForm.nome.$touched && main.pessoaForm.nome.$invalid };" 
                type="text" 
                placeholder="Nome" 
                name="nome" 
                ng-model="main.pessoa.nome" 
                required>
            </p>
        </div>
        <div class="field column is-half">
            <label class="label">E-Mail</label>
            <p class="control">
                <input 
                class="input ng-class:{ 'is-danger': main.pessoaForm.nome.$touched && main.pessoaForm.email.$invalid };" 
                type="email" 
                placeholder="E-mail" 
                name="email" 
                ng-model="main.pessoa.email">
            </p>
        </div>
        <div class="field column is-half">
            <label class="label">Telefone</label>
            <p class="control">
                <input 
                class="input ng-class:{ 'is-danger': main.pessoaForm.nome.$touched && main.pessoaForm.telefone.$invalid };" 
                type="text" 
                placeholder="Telefone" 
                name="telefone" 
                ng-model="main.pessoa.telefone">
            </p>
        </div>
        <div class="field column is-one-third">
            <label class="label">Data de nascimento</label>
            <p class="control">
                <input 
                class="input ng-class:{ 'is-danger': main.pessoaForm.nome.$touched && main.pessoaForm.dataNascimento.$invalid };" 
                type="date" 
                placeholder="Data de nascimento" 
                name="dataNascimento" 
                ng-model="main.pessoa.dataNascimento">
            </p>
        </div>
        <div class="column is-three-quarters">
            <a class="button is-primary" href="/#">
                <span class="icon">
                    <i class="fa fa-ban"></i>
                </span>
                <span>Cancelar</span>
            </a>
            <a class="button is-success" ng-click="main.salvaPessoas()" ng-if="!main.pessoa.id">
                <span class="icon">
                    <i class="fa fa-floppy-o"></i>
                </span>
                <span>Salvar</span>
            </a>
            <a class="button is-success" ng-click="main.atualizarPessoas()" ng-if="main.pessoa.id">
                <span class="icon">
                    <i class="fa fa-floppy-o"></i>
                </span>
                <span>Alterar</span>
            </a>
        </div>
    </form>
</section>