<section class="section">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <div class="field">
                    <p class="control has-icons-right">
                        <input class="input" type="text" placeholder="Search" ng-model="search">
                        <span class="icon is-small is-right">
                            <i class="fa fa-search"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="level-left">
            <div class="level-item">
                <a class="button is-primary" href="#/form">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span>Add</span>
                </a>
            </div>
        </div>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Data de nascimento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pessoa in main.pessoas | filter:search">
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.telefone}}</td>
                <td>{{pessoa.email}}</td>
                <td>{{pessoa.dataNascimento | date : "dd/MM/yyyy"}}</td>
                <td>
                    <a class="button is-primary" href="#/form/{{pessoa.id}}">
                        <span class="icon">
                            <i class="fa fa-pencil"></i>
                        </span>
                        <span>Editar</span>
                    </a>
                    <a class="button is-danger" ng-click="main.removePessoas($index)">
                        <span class="icon">
                            <i class="fa fa-trash"></i>
                        </span>
                        <span>Remover</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="button is-primary" type="file" ngf-select="main.uploadFile($file, $invalidFiles)"
        ngf-max-size="1MB">
        <span class="icon">
            <i class="fa fa-upload"></i>
        </span>
        <span>Upload</span>
    </button>
    
    <progress class="progress is-success" value="main.progress" max="100" ng-if="main.progress > 0">{{main.progress}}%</progress>

</section>